node_modules/
.next/
dist/
build/
out/
coverage/
.turbo/
tsconfig.tsbuildinfo
supabase/.temp/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# prisma
packages/database/prisma/*.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.vercel
